<h2>📋 Crear Referencia Médica</h2>
<form (ngSubmit)="crearReferencia()">
  <div class="mb-3">
    <label for="idmedico_destino">Médico Destino</label>
    <select [(ngModel)]="referencia.idmedico_destino" name="idmedico_destino" class="form-control" required>
      <option [ngValue]="null">Seleccione un médico</option>
      <option *ngFor="let doctor of doctores" [value]="doctor.idmedico">
        {{ doctor.nombrecliente }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label>Buscar Paciente:</label>
    <input type="text" [(ngModel)]="searchPaciente" name="searchPaciente" class="form-control" (input)="buscarPaciente()" />

    <ul class="list-group" *ngIf="resultadosPaciente.length > 0">
      <li *ngFor="let p of resultadosPaciente"
          (click)="seleccionarPaciente(p)"
          class="list-group-item list-group-item-action">
        {{ p.nombrecliente }} {{ p.apellidopaterno }} {{ p.apellidomaterno }}
      </li>
    </ul>
  </div>

  <div class="mb-3">
    <label for="motivo">Motivo</label>
    <textarea [(ngModel)]="referencia.motivo" name="motivo" class="form-control" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Referencia</button>
</form>


<hr>

<h3>📄 Referencias Registradas</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>Paciente</th>
    <th>Motivo</th>
    <th>Fecha</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of referencias">
    <td>{{ r.idreferencia }}</td>
    <td>{{ r.medico_origen }}</td>
    <td>{{ r.medico_destino }}</td>
    <td>{{ r.paciente }}</td>
    <td>{{ r.motivo }}</td>
    <td>{{ r.fecha_referencia | date:'short' }}</td>
    <td>{{ r.estado }}</td>
  </tr>
  </tbody>
</table>

